PORT=8108
IS_PROD=false
REDIS_CONNECTION_STRING="redis://@localhost:6379/0"
DATABASE_URL=
SHARE_BASE_URL="https://test1.bombcrypto.io"
IMAGE_URL_BASE="https://test1.bombcrypto.io/share"
IMAGE_DIR="./share-assets"
SHARE_TTL=2592000
IMAGE_MAX_BYTES=2097152
CORS_ORIGINS=
AP_LOGIN_BASE_URL="http://ap-login:80"
SLACK_WEBHOOK_URL=
ADMIN_TOKEN=
RATE_LIMIT_PER_DAY=50
